Функциональные требования:
- авторизация/аутентификация
- управление пользователями
- реализация ролей обычного пользователя, модератора, адмминистратора
- журналирования действий пользователя
- ведение блога пользователями
  - создание, редакитирование, удаление постов
- просмотр и взаимодействие с блогами других пользователей
  - подписка на других пользователей
  - просмотр, комментирование постов других пользователей в зависимости от настроек конфиденциальности
- настройка пользовательского профиля и предпочтений
  - тема, язык, конфиденциальность
