Функциональные требования:
- авторизация/аутентификация
- управление пользователями
- реализация ролей обычного пользователя, модератора, адмминистратора
- журналирования действий пользователя
- ведение блога пользователями
- просмотр и взаимодействие с блогами других пользователей
- настройка пользовательского профиля и предпочтений
